.header {
    display: flex;
    justify-content: center;
}

.header-item {
    width: fit-content;
}

.header-item > img {
    max-height: 200px;
    padding-left: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

@media screen and (width <= 1280px) {
    .gallery-container {
        max-width: 100%;
    }
}

.gallery-item {
    max-height: 250px;
    max-width: 500px;
    margin: 10px;
    overflow: hidden;
    background-position: center;
}