.header {
    display: flex;
    justify-content: center;
}

.header-item {
    width: fit-content;
}

.header-item > img {
    max-height: 200px;
    padding-left: 20px;
}

@media screen and (width <= 453px) {
    .header-item > img {
        max-height: 150px;
    }
}

@font-face {
    font-family: PF-VideoText;
    src: url("/personal/font/pfvideotext-reg-subset.otf")
}

.header-text {
    font-family: PF-VideoText, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: rgb(152, 135, 199);
    text-shadow: 2px 2px 0 rgb(39, 31, 64);
}

@media screen and (width <= 453px) {
    .header-text {
        font-size: 2rem;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-item {
    height: 25vh;
    max-height: 400px;
    width: 30%;
    margin: 10px;
    background-size: cover;
    box-shadow: 9px 9px 0 rgb(46, 37, 75);
}

.gallery-item:hover {
    box-sizing: border-box;
    border: 8px solid rgb(186, 194, 98);
}

@media screen and (width <= 1440px) {
    .gallery-item {
        width: 45%;
    }
}

@media screen and (width < 1024px) {
    .gallery-item {
        width: 80%;
    }
}

@media screen and (width < 768px) {
    .gallery-item {
        height: 15vh;
        width: 100%;
        background-position: center center;
    }
}

#modal-root {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px darkgray;
}

.modal-container > img {
    max-height: 90vh;
}

.modal-container > button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: black;
    border: none;
    color: white;
    font-size: 32px;
}

.modal-container > button:hover {
    cursor: pointer;
}

body {
    margin: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.darken {
    background-color: black;
    opacity: 0.5;
}

.img-0 {
    background-image: url("/personal/preview/angel.png");
}

.img-1 {
    background-image: url("/personal/preview/angel-waste.png");
}

.img-2 {
    background-image: url("/personal/preview/axe-card.png");
}

.img-3 {
    background-image: url("/personal/preview/cigs.png");
}

.img-4 {
    background-image: url("/personal/preview/darkest.png");
}

.img-5 {
    background-image: url("/personal/preview/dogs.png");
}

.img-6 {
    background-image: url("/personal/preview/dragon-painting.png");
}

.img-7 {
    background-image: url("/personal/preview/fish.png");
}

.img-8 {
    background-image: url("/personal/preview/Floating_Head.png");
}

.img-9 {
    background-image: url("/personal/preview/headshot-1.png");
}

.img-10 {
    background-image: url("/personal/preview/headshot-2.png");
}

.img-11 {
    background-image: url("/personal/preview/hooded-gewby.png");
}

.img-12 {
    background-image: url("/personal/preview/kawaii-thing.png");
}

.img-13 {
    background-image: url("/personal/preview/knight-2.png");
}

.img-14 {
    background-image: url("/personal/preview/knight.png");
}

.img-15 {
    background-image: url("/personal/preview/pickled-rabbit.png");
}

.img-16 {
    background-image: url("/personal/preview/scythe.png");
}

.img-17 {
    background-image: url("/personal/preview/smoke.png");
}

.img-18 {
    background-image: url("/personal/preview/spear-card.png");
}