.header {
    display: flex;
    justify-content: center;
}

.header-item {
    width: fit-content;
}

.header-item > img {
    max-height: 200px;
    padding-left: 20px;
}

@media screen and (width <= 453px) {
    .header-item > img {
        max-height: 150px;
    }
}

@font-face {
    font-family: PF-VideoText;
    src: url("/font/pfvideotext-reg-subset.otf")
}

.header-text {
    font-family: PF-VideoText, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    color: rgb(152, 135, 199);
    text-shadow: 2px 2px 0 rgb(39, 31, 64);
}

@media screen and (width <= 453px) {
    .header-text {
        font-size: 2rem;
    }
}

#root {
    padding: 32px;
}

@media screen and (width <= 2560px) {
    #root {
        padding-top: 24px;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-item {
    height: 25vh;
    max-height: 400px;
    width: 30%;
    margin: 10px;
    background-size: cover;
    box-shadow: 9px 9px 0 rgb(46, 37, 75);
}

.gallery-item:hover {
    box-sizing: border-box;
    border: 8px solid rgb(186, 194, 98);
}

@media screen and (width <= 1440px) {
    .gallery-item {
        width: 45%;
    }
}

@media screen and (width < 1024px) {
    .gallery-item {
        width: 80%;
    }
}

@media screen and (width < 768px) {
    .gallery-item {
        height: 15vh;
        width: 100%;
        background-position: center center;
    }
}

#modal-root {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px darkgray;
}

.modal-container > img {
    max-height: 90vh;
    max-width: 90vw;
}

.modal-container > button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: black;
    border: none;
    color: white;
    font-size: 64px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (width < 768px) {
    .modal-container > button {
        font-size: 32px;
        padding-left: 9px;
        padding-right: 9px;
    }
}

.modal-container > button:hover {
    cursor: pointer;
}

body {
    margin: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.darken {
    background-color: black;
    opacity: 0.5;
}