.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 60%;
}

@media screen and (width <= 1280px) {
    .gallery-container {
        max-width: 100%;
    }
}

.gallery-item {
    max-width: 500px;
    margin: 10px;
}